<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-center">
        <span class="text-muted">
            NETAJI SUBASH UNIVERSITY OF TECHNOLOGY JOB PORTAL &copy;Aryan Saini  
        </span>
    </div>
</footer>